@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');

.mobile-client .desktop-only {
  display: none !important;
}
.desktop-client .mobile-only {
  display: none !important;
}

html, body {
  position: absolute;
  margin: 0;
  width: 100%;
  /*height: 100%;*//*set to fixed value via js to prevent resize on keyboard toggle on mobile*/
  overflow-y: hidden;
}
#graph {
  width: 100%;
  height: 100%;
}
body,
input:not([type="submit"]):not([type="checkbox"]),
select,
textarea,
button {
  font-family: 'Josefin Sans', 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  color: #000;
  background: white;
}

::-webkit-scrollbar {
  width: 10pt;
}
::-webkit-scrollbar-track {
  background: radial-gradient(circle, #f9f9f9 50%, #fff 100%);
}
::-webkit-scrollbar-thumb {
  background: #eee;
}
::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}

.desktop-client .hidden {
  display: none !important;
}
.mobile-client .hidden:not(.mobile-inverse-hidden),
.mobile-client .mobile-inverse-hidden:not(.hidden) {
  display: none !important;
}

#graph, .modal-blocker {
  user-select: none;
}

.modal-blocker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff1;
}
.backdrop-blur {
  backdrop-filter: blur(1pt);
}

.box {
  display: block;
  position: fixed;
  box-shadow: 2px 1px 5px #0006;
}
.mobile-client .box {
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  backdrop-filter: blur(2pt);
  background: #fffc;
}
.desktop-client .box {
  max-height: calc(100vh - 50pt);
  background: white;
}
.desktop-client .box:hover {
  z-index: 1;
}

.box.box-padding:not(.box-minimized) {
  padding: 20pt;
}

.mobile-client .box-minimized {
  display: none;
}

.box-minimized > *:not(.box-minimize-buttons),
.box-minimized .box-minimize,
.box:not(.box-minimized) .box-restore {
  display: none;
}
.desktop-client .box-minimize-buttons {
  text-align: right;
}
.mobile-client .box-minimize-buttons {
  text-align: left;
  background: white;
}
.mobile-client .box-minimize-buttons button {
  font-size: 120%;
}
.desktop-client .box:not(.box-minimized) .box-minimize-buttons.negative-padding {
  margin-top: -20pt;
  margin-left: -20pt;
  margin-right: -20pt;
}
.mobile-client .box:not(.box-minimized) .box-minimize-buttons.negative-padding {
  margin-top: -10pt;
  margin-left: -20pt;
  margin-right: -20pt;
}

.box.opt-new .opt:not(.opt-new),
.box.opt-new-child .opt:not(.opt-new-child),
.box.opt-edit .opt:not(.opt-edit) {
  display: none;
}

.box > div.box-row {
  margin-bottom: 10pt;
}

.box h2 {
  font-size: 100%;
  font-weight: bold;
  color: #aaa;
}

#person-form.box #person-form-clone-add {
  width: 100%
}

#person-form.box h2 {
  display: inline-block;
}
#person-form.box #person-form-person-url > a {
  margin-left: 20pt;
  text-decoration: none;
  opacity: .5;
}

#person-form.box label,
#connection-form.box label {
  width: 30%;
  display: inline-block;
}

#person-form.box input,
#person-form.box select,
#person-form.box textarea,
#connection-form.box input,
#connection-form.box select,
#connection-form.box textarea {
  width: 60%;
}
#person-form.box input#person-form-last-name,
#person-form.box input#person-form-birth-name {
  width: 27%;
}

.box hr {
  border: 0;
  border-top: 1px solid #ddd;
}

.box input:not([type="submit"]):not([type="checkbox"]),
.box select,
.box textarea {
  width: 150pt;
  border: 1px solid #aaa;
  border-radius: 3pt;
  padding: 3pt;
}
.box input:not([type="submit"]):not([type="checkbox"]):hover, .box input:not([type="submit"]):not([type="checkbox"]):focus,
.box select:hover, .box select:focus,
.box textarea:hover, .box textarea:focus {
  border-color: #555;
  outline: none;
}
.box textarea {
  vertical-align: top;
  resize: none;
}

.box input[placeholder="tt"], .box input[placeholder="mm"] {
  width: 2em !important;
}
.box input[placeholder="yyyy"] {
  width: 4em !important;
}

button, .button {
  display: inline-block;
  margin: 0;
  padding: 5pt 20pt;
  cursor: default;
  border: none;
  color: black;
  text-decoration: none;
  background: transparent;
  user-select: none;
}
button.selected, .button.selected {
  background: radial-gradient(circle, #fff 70%, #eee 90%) !important; /* #f8f8f8 */
}
.desktop-client button:not(:disabled):hover, .desktop-client .button:not(:disabled):hover {
  background: radial-gradient(circle, #fcfcfc 50%, #f9f9f9 100%) !important;
}
.button-border {
  margin-top: 10pt;
  border-top: 1px solid #eee;
}
.button-border-full {
  border: 1px solid #eee;
}
.desktop-client .button-border:not(:disabled):hover, .desktop-client .button-border-full:not(:disabled):hover {
  border-top: 1px solid #ddd;
}

.collapse-trigger {
  cursor: pointer;
}
.collapse-trigger::after {
  content: '\25B4';
  float: right;
}
.collapse-trigger.collapsed::after {
  content: '\25BE';
}
.collapse-trigger.collapsed + * {
  display: none;
}

.message.backdrop-blur {
  background: #0001;
}
.message .box {
  text-align: right;
}
.desktop-client .message .box {
  left: 50%;
  right: initial;
  top: 50%;
  bottom: initial;
  transform: translate(-50%, -50%);
}
.mobile-client .message .box {
  top: initial;
}
.message .box .message-content {
  text-align: initial;
}

#mobile-actions.box {
  top: 10pt;
  right: initial;
  bottom: initial;
}
#mobile-action-new-person, #mobile-action-new-connection, #mobile-action-move-person {
  padding: 5pt 10pt;
}
.mobile-action-new-person::before {
  content: '\2B58';
}
.mobile-action-new-connection::before {
  content: '\2B58';
  color: #0004;
}
.mobile-action-new-connection > span::before {
  content: '\2500';
}
.mobile-action-new-connection::after {
  content: '\2B58';
  color: #0004;
}
.mobile-action-move-person::before {
  content: '\2B58\2B58';
  color: #0004;
}
.mobile-action-move-person::after {
  content: '\2B58';
}
#mobile-menu-close {
  background: white !important;
  padding-top: 15pt;
  margin-bottom: 10pt;
}

#account.box {
  font-size: 120%;
}
#account.box > * {
  display: block;
}
#account.box #account-name {
  padding: 5pt 20pt;
}
#account.box a {
  text-decoration: none;
}
.desktop-client #account.box {
  bottom: initial;
  top: 10pt;
  right: initial;
  left: 10pt;
  font-size: 85%;
  backdrop-filter: none;
  background: #fff;
}
.desktop-client #account.box > * {
  display: inline-block;
}

.desktop-client #layouts.box {
  top: 40pt;
  left: 10pt;
  font-size: 85%;
}
#layouts.box > .box-minimize-buttons {
  display: inline-block;
}
#layouts.box .selected-layout {
  font-weight: bold;
}

.desktop-client #help.box {
  top: 10pt;
  right: 60pt;
  white-space: nowrap;
}
.mobile-client #help.box {
  bottom: 50%;
}
#help.box h2 {
  border-bottom: 1px solid #eee;
}
#help.box h2:not(:first-of-type) {
  margin-top: 20pt;
}
#help.box > div:nth-child(2) {
  margin: 0 -20pt 0 0;
  padding: 0 20pt 0 0;
  overflow-y: scroll;
}
.desktop-client #help.box > div:nth-child(2) {
  max-height: 70vh;
}
.mobile-client #help.box > div:nth-child(2) {
  max-height: calc(100% - 20pt);
}
#help.box > div > ul {
  padding: 0;
}
#help.box > div > ul > li {
  list-style-type: none;
}
#help.box > div > ul > li {
  margin-bottom: 20pt;
}
#help.box ul ul {
  padding-left: 20pt;
}
#help.box ul ul li {
  list-style-type: '\2013  ';
}
#help.box li {
  margin-top: 5pt;
}
#help.box dl {
  margin: 5pt 0 0;
}
#help.box dd {
  margin-left: 20pt;
}
.help-button {
  display: inline-block;
  padding: 3pt 5pt;
  margin: 0 3pt;
  background: white;
  box-shadow: 1pt 1pt 3pt #00000022;
}

.desktop-client #log.box {
  right: 10pt;
  top: 40pt;
}
.mobile-client #log.box {
  bottom: 50%;
}
#log.box:not(.box-minimized) #log-content {
  height: 100%;
  display: flex;
  flex-flow: column;
}
.mobile-client #log-content {
  max-height: calc(100% - 20pt);
}
#log.box #log-extended {
  margin-bottom: 10pt;
}
#log.box ul {
  list-style-type: none;
  padding-left: 0;
  padding-top: 5pt;
  margin: 0 -20pt;
  overflow-y: scroll;
}
.desktop-client #log.box ul {
  max-height: 70vh;
}
#log.box li {
  position: relative;
  display: block;
}
#log.box li.log-item-master,
#log.box li.log-item-preview,
#log.box li:hover {
  padding-top: calc(5pt - 1px);/* 5pt from .button */
}
#log.box li.log-item-master::before,
#log.box li.log-item-preview::before,
#log.box li:hover::before {
  content: '\25BA';
  position: absolute;
  left: -2pt;
  top: -8pt;
}
#log.box li.log-item-master {
  border-top: 1px dashed #ddd;
}
#log.box li.log-item-preview {
  border-top: 1px solid #bbb;
}
#log.box li:hover {
  border-top: 1px solid #000 !important;
}
#log.box li.log-item-master::before {
  color: #ddd;
}
#log.box li.log-item-preview::before {
  color: #bbb;
}
#log.box li:hover::before {
  color: #000 !important;
}
#log.box li.log-item-master:hover, #log.box li.log-item-preview:hover {
  background: transparent;
}
#log.box li span {
  display: block;
  font-size: 80%;
}

#log .log-play-button {
	margin: 0;
	padding: 10pt;
}
#log .log-play-button::before {
	--play-btn-size: 10pt;
	--play-btn-color: #ddd;
	content: ' ';
	display: inline-block;
	box-sizing: border-box;
	border-style: solid;
	width: var(--play-btn-size);
	height: var(--play-btn-size);
}
#log .log-play-button:hover::before {
	--play-btn-color: #000;
}
#log .log-play-stop::before {
	border-style: double;
	border-width: 0 0 0 var(--play-btn-size);
	border-color: var(--play-btn-color);
}
#log .log-play-backward::before {
/*	border-width: calc(var(--play-btn-size) / 2) var(--play-btn-size) calc(var(--play-btn-size) / 2) 0;
	border-color: transparent var(--play-btn-color) transparent transparent;*/
  border-width: var(--play-btn-size) calc(var(--play-btn-size) / 2) 0 calc(var(--play-btn-size) / 2);
  border-color: var(--play-btn-color) transparent transparent transparent;
}
#log .log-play-forward::before {
/*	border-width: calc(var(--play-btn-size) / 2) 0 calc(var(--play-btn-size) / 2) var(--play-btn-size);
	border-color: transparent transparent transparent var(--play-btn-color);*/
  border-width: 0 calc(var(--play-btn-size) / 2) var(--play-btn-size) calc(var(--play-btn-size) / 2);
  border-color: transparent transparent var(--play-btn-color) transparent;
}

.desktop-client #log-restore-selected-item {
  left: 50%;
  top: 10pt;
  background: white;
}
.mobile-client #log-restore-selected-item {
  top: initial;
  background: white;
}

.desktop-client #person-form.box,
.desktop-client #connection-form.box {
  right: 10pt;
  bottom: 10pt;
  width: 30%;
  min-width: 280pt;
}
#connection-form-persons {
  display: block;
  margin-bottom: 10pt;
}

.desktop-client #admin.box {
  top: 69pt;
  left: 10pt;
}
#admin.box > .box-minimize-buttons {
  text-align: left;
}
#admin.box hr {
  margin: 10pt 0;
}
#admin.box #accounts-list {
  height: 100pt;
  overflow-y: scroll;
  resize: vertical;
  max-height: 40vh;
}
.mobile-client #admin.box #accounts-list td {
  display: block;
}
.mobile-client #admin.box #accounts-list td:last-child {
  padding-bottom: 20pt;
}
#admin.box #login-log {
  height: 100pt;
  overflow-y: auto;
  resize: vertical;
  max-height: 40vh;
}
#admin.box #login-log td:not(:first-child) {
  padding-left: 10pt;
}

@keyframes tutorial-highlight-blink {
  0%   { box-shadow: 0 0 var(--box-shadow-size) var(--box-shadow-color); }
  40%  { box-shadow: 0 0 var(--box-shadow-size) #fff; }
  80%  { box-shadow: 0 0 var(--box-shadow-size) var(--box-shadow-color); }
  100% { box-shadow: 0 0 var(--box-shadow-size) var(--box-shadow-color); }
}
.tutorial-highlight {
  display: block;
  position: fixed;
  transform: translate(-50%, -50%);
  --box-shadow-size: 100pt;
  --box-shadow-color: #61B1B5;
  box-shadow: 0 0 var(--box-shadow-size) var(--box-shadow-color);
  animation-name: tutorial-highlight-blink;
  animation-delay: 1s;
  animation-duration: 400ms;
  animation-iteration-count: 2;
  left: 50%;
  top: 50%;
  width: 200pt;
  height: 200pt;
  border-radius: 100pt;
}

#tutorial.message .message-content .old {
  color: #aaa;
}
#tutorial.message .message-content .invisible {
  visibility: hidden;
}

.tutorial-person {
  display: inline-block;
  width:10pt;
  height:10pt;
  border-radius:5pt;
  background: #78D384;
}
.tutorial-person.t-p-highlight {
  background: #3BAA49 !important;
}
.tutorial-person.t-p-warning {
  background: #D0D480 !important;
}
.tutorial-connection {
  display: inline-block;
  width: 20pt;
  height: 3pt;
  border-top: 2px solid #DDD;
}
.tutorial-connection.t-c-highlight {
  border-top-color: #000 !important;
}
.tutorial-connection.t-c-warning {
  border-top-color: #E6AD92 !important;
}
.tutorial-connection.t-c-arrow::after {
	content: '\1F892';
	display: inline-block;
	float: right;
	font-size: 150%;
	line-height: 0;
	color: #DDD;
	margin-right: -1px;
}
.tutorial-connection.t-c-dashed {
  border-top-style: dashed;
}
.tutorial-connection.t-c-dotted {
  border-top-style: dotted;
}

#restart-tutorial {
  background: white !important;
  padding-left: 0;
  cursor: pointer;
}
