@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');
html, body, #graph {
  height: 100%;
  margin: 0;
}
body, input, button {
  font-family: 'Josefin Sans', 'Trebuchet MS', sans-serif;
  color: #000;
}
body {
  background: white;
}

::-webkit-scrollbar {
  width: 10pt;
}
::-webkit-scrollbar-track {
  background: radial-gradient(circle, #f9f9f9 50%, #fff 100%);
}
::-webkit-scrollbar-thumb {
  background: #eee;
}
::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}

.hidden {
  display: none !important;
}

#graph, .modal-blocker {
  user-select: none;
}

.modal-blocker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff1;
}
.backdrop-blur {
  backdrop-filter: blur(1pt);
}

.box {
  display: block;
  position: fixed;
  right: 10pt;
  bottom: 10pt;
  background: white;
  box-shadow: 2px 1px 5px #0006;
}
.box:hover {
  z-index: 1;
}

.box.box-padding:not(.box-minimized) {
  padding: 20pt;
}

.box-minimized > *:not(.box-minimize-buttons),
.box-minimized .box-minimize,
.box:not(.box-minimized) .box-restore {
  display: none;
}
.box-minimize-buttons {
  text-align: right;
}
.box:not(.box-minimized) .box-minimize-buttons {
  margin-top: -20pt;
  margin-right: -20pt;
}

.box.opt-new .opt:not(.opt-new),
.box.opt-new-child .opt:not(.opt-new-child),
.box.opt-edit .opt:not(.opt-edit) {
  display: none;
}

.box > div.box-row {
  margin-bottom: 10pt;
}

.box h2 {
  font-size: 100%;
  font-weight: bold;
  color: #aaa;
}

.box label {
  width: 30%;
  display: inline-block;
}

.box input, .box textarea {
  width: 150pt;
  border: 1px solid #aaa;
  border-radius: 3pt;
  padding: 3pt;
}
.box input:hover, .box input:focus, .box textarea:hover, .box textarea:focus {
  border-color: #555;
  outline: none;
}
.box textarea {
  vertical-align: top;
  resize: none;
}

.box input[placeholder="tt"], .box input[placeholder="mm"] {
  width: 2em;
}
.box input[placeholder="yyyy"] {
  width: 4em;
}

button, .button {
  display: inline-block;
  margin: 0;
  padding: 5pt 20pt;
  cursor: default;
  border: none;
  color: black;
  text-decoration: none;
  background: transparent;
}
button:hover, .button:hover {
  background: radial-gradient(circle, #fcfcfc 50%, #f9f9f9 100%) !important;
}
.button-border {
  margin-top: 10pt;
  border-top: 1px solid #eee;
}
.button-border:hover {
  border-top: 1px solid #ddd;
}

.collapse-trigger {
  cursor: pointer;
}
.collapse-trigger::after {
  content: '\25B4';
  float: right;
}
.collapse-trigger.collapsed::after {
  content: '\25BE';
}
.collapse-trigger.collapsed + * {
  display: none;
}

.message.backdrop-blur {
  background: #0001;
}
.message .box {
  bottom: initial;
  right: initial;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.message .box button {
  float: right;
}

#account.box {
  bottom: initial;
  top: 10pt;
  right: initial;
  left: 10pt;
  font-size: 85%;
}
#account.box #account-name {
  margin: 0 20pt;
  padding: 5pt 20pt;
  display: inline-block;
}
#account.box a {
  text-decoration: none;
}
#account:not(:hover) a:not(:first-of-type) {
  display: none;
}

#help.box {
  bottom: initial;
  top: 10pt;
  right: 60pt;
  white-space: nowrap;
}
#help.box:not(.box-minimized) {
  height: 30%;
  min-width: 300pt;
}
#help.box h2 {
  border-bottom: 1px solid #eee;
}
#help.box h2:not(:first-of-type) {
  margin-top: 20pt;
}
#help.box > div:nth-child(2) {
  margin: 0 -20pt 0 0;
  padding: 0 20pt 0 0;
  height: 100%;
  overflow-y: scroll;
}
#help.box > div > ul {
  padding: 0;
}
#help.box > div > ul > li {
  list-style-type: none;
}
#help.box > div > ul > li {
  margin-bottom: 20pt;
}
#help.box ul ul {
  padding-left: 20pt;
}
#help.box ul ul li {
  list-style-type: '\2013  ';
}
#help.box li {
  margin-top: 5pt;
}
#help.box dl {
  margin: 5pt 0 0;
}
#help.box dd {
  margin-left: 20pt;
}
#help.box .help-button {
  display: inline-block;
  padding: 3pt 5pt;
  margin: 0 3pt;
  box-shadow: 1pt 1pt 3pt #00000022;
}

#log.box {
  bottom: initial;
  top: 40pt;
}
#log.box ul {
  list-style-type: none;
  padding-left: 0;
  padding-top: 5pt;
  margin: 0 -20pt;
  height: 30vh;
  overflow-y: scroll;
}
#log.box li {
  position: relative;
  display: block;
}
#log.box li.log-item-master, #log.box li.log-item-preview, #log.box li:hover {
  padding-top: calc(5pt - 1px);/* 5pt from .button */
}
#log.box li.log-item-master::before, #log.box li.log-item-preview::before, #log.box li:hover::before {
  content: '\25BA';
  position: absolute;
  left: -2pt;
  top: -7pt;
}
#log.box li.log-item-master {
  border-top: 1px dashed #ddd;
}
#log.box li.log-item-preview {
  border-top: 1px solid #bbb;
}
#log.box li:hover {
  border-top: 1px solid #000 !important;
}
#log.box li.log-item-master::before {
  color: #ddd;
}
#log.box li.log-item-preview::before {
  color: #bbb;
}
#log.box li:hover::before {
  color: #000 !important;
}
#log.box li.log-item-master:hover, #log.box li.log-item-preview:hover {
  background: transparent;
}
#log.box li span {
  display: block;
  font-size: 80%;
}

#log-restore-selected-item {
  right: initial;
  bottom: initial;
  left: 50%;
  top: 10pt;
  background: white;
}

#person-form.box, #connection-form.box {
  width: 280pt;
}
#connection-form-persons {
  display: block;
  margin-bottom: 10pt;
}

.tutorial-highlight {
  display: block;
  position: fixed;
  box-shadow: 0 0 100pt #61B1B5;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 200pt;
  height: 200pt;
  border-radius: 100pt;
}

.tutorial-person {
  display: inline-block;
  width:10pt;
  height:10pt;
  border-radius:5pt;
  background: #78D384;
}
.tutorial-person.t-p-highlight {
  background: #3BAA49 !important;
}
.tutorial-person.t-p-warning {
  background: #D0D480 !important;
}
.tutorial-connection {
  display: inline-block;
  width: 20pt;
  height: 3pt;
  border-top: 2px solid #DDD;
}
.tutorial-connection.t-c-highlight {
  border-top-color: #000 !important;
}
.tutorial-connection.t-c-warning {
  border-top-color: #E6AD92 !important;
}
.tutorial-connection.t-c-arrow::after {
	content: '\1F892';
	display: inline-block;
	float: right;
	font-size: 150%;
	line-height: 0;
	color: #DDD;
	margin-right: -1px;
}
.tutorial-connection.t-c-dashed {
  border-top-style: dashed;
}
.tutorial-connection.t-c-dotted {
  border-top-style: dotted;
}

#restart-tutorial {
  background: white !important;
  padding-left: 0;
  cursor: pointer;
}
