html, body, #graph {
  height: 100%;
  margin: 0;
}
#new-node-form {
  position: fixed;
  display: none;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  padding: 20pt;
  box-shadow: 2px 1px 5px #0006;
}